@use "axioms/brand" with (
  $suffix: (
    factor: 1000,
    inverse: true,
  )
);
@use "stylament/css/axioms/config" with (
  $custom: (
    coloring: (
      palettes: brand.$palettes,
    ),
  )
);
@use "stylament/css/axioms/properties/specific/coloring";

:root {
  color-scheme: dark;
  --color-shadow: 255 255 255;
}
