<footer>
  <section class="lyo-wrap-grid @measure-xs">
    <h2 hidden>Footer Links</h2>
    <section>
      <h3>Pages</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/color.html">Color table</a></li>
      </ul>
    </section>
    <section>
      <h3>Things</h3>
      <ul>
        <li><a href="#">Foo illum</a></li>
        <li><a href="#">Bar pariatur</a></li>
        <li><a href="#">Baz adipisicing</a></li>
        <li><a href="#">Qux recusandae</a></li>
      </ul>
    </section>
    <section>
      <h3>Other Things</h3>
      <ul>
        <li><a href="#">Foo accusamus</a></li>
        <li><a href="#">Bar provident</a></li>
      </ul>
    </section>
    <section>
      <h3>Even More Stuff</h3>
      <ul>
        <li><a href="#">Foo corrupti</a></li>
        <li><a href="#">Bar dolorum</a></li>
        <li><a href="#">Foobar soluta</a></li>
        <li><a href="#">Quux corrupti</a></li>
        <li><a href="#">Baazzz illum</a></li>
      </ul>
    </section>
    <section>
      <h3>Final Extras</h3>
      <ul>
        <li><a href="#">Foobar soluta</a></li>
        <li><a href="#">Quux corrupti</a></li>
        <li><a href="#">Baazzz illum</a></li>
      </ul>
    </section>
  </section>
  <hr>
  <section>
    <h2><img src="/img/logo.svg" alt="The logo again"> Btrplcmnt <em>rocks</em>!</h2>
    <p class="dev-lorem-ipsum"></p>
  </section>
</footer>
