  <footer class="clr-alternate">
    <section>
      <p class="footer-copyright">© 2023 Simon Schrape</p>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/color.html">Color table</a></li>
      </ul>
    </section>
  </footer>
