@use "sass:math";
@use "sass:meta";
@use "stylament/css/axioms/config/mapping";
@use "stylament/css/axioms/tools/arithmetic/function";
@use "stylament/css/axioms/properties/io" as *;
@use "brand";

$config: (
  layout: (
    container: (
      mapped: (
        params: (
          slope: 17rem,
          initial: 51rem,
        ),
      ),
    ),
  ),
  typography: (
    font-family: (
      literal: (
        sans: (
          "Fira Sans",
          "Helvetica Neue",
          Helvetica,
          sans-serif,
        ),
        mono: (
          "Fira Code",
          Consolas,
          Menlo,
          Monaco,
          "Liberation Mono",
          monospace,
        ),
      ),
      logical: (
        body: "sans",
        heading: "sans",
        display: "body",
      ),
    ),
    font-weight: (
      mapped: null,
      literal: (
        regular: 400,
        bold: 700,
      ),
      logical: (
        body: "regular",
        emphasis: "bold",
        heading: "bold",
      ),
    ),
    line: (
      min: 1.2,
      root: 1.5,
      sub: 2,
    ),
    scale: (
      base: 1rem,
      // Major third, equal-tempered: ∛2 ≅ 1.26
      // See https://www.modularscale.com/?1&em&2@3
      ratio: math.pow(2, math.div(1, 3)),
    ),
  ),
  ui: (
    shadow: (
      mapped: (
        params: (
          offset: 0.1875rem,
          blur: 0.375rem,
          angle: 270deg,
          color: var(--color-shadow),
        ),
      ),
      literal: (
        all-in:
          #{svar(shadow-xxl), svar(shadow-xl), svar(shadow-lg), svar(shadow-md), svar(shadow-sm), svar(shadow-xs)},
        page-container: "0rem 0.75rem 0.75rem rgb(var(--color-shadow) / 0.25)",
        backdrop: "0 0 3rem 3rem #{svar(color-backdrop)}",
      ),
    ),
    stroke-width: (
      logical: (
        default: 1,
      ),
    ),
    stroke-color: (
      logical: (
        default: "/color-neutral",
      ),
    ),
  ),
  coloring: (
    color: (
      literal: (
        backdrop: "rgb(var(--color-shadow) / 0.2)",
        external-red-sparkasse: #ee0000,
        external-blue-linkedin: #0a66c2,
        external-pink-instagram: #e65083,
        external-blue-twitter: #1da1f2,
        external-blue-facebook: #4e69a2,
        me-green-special: #ebf2e6,
        me-blue-700: #005d90,
        me-blue-500: #00a0c8,
        me-blue-100: #e0f4f9,
        me-orange-800: #6f1f06,
        me-orange-600: #db6038,
        me-orange-500: #ff854d,
      ),
      logical: (
        env: "alternate",
        env-contra: "alternate-contra",
        body: "grey-900",
        body-contra: "grey-0",
        alternate: "grey-800",
        alternate-contra: "grey-100",
        neutral: "grey-500",
        heading: "grey-700",
        heading-1: "primary-500",
        heading-2: "primary-600",
        heading-3: "primary-700",
        nav: "grey-100",
        nav-contra: "secondary-600",
        nav-stroke: "secondary-300",
        links: "primary-600",
        links-contra: "tertiary-400",
        hr: "grey-300",
        heading-alternate: "heading",
        list-marker: "primary-500",
      ),
    ),
  ),
);
