@use "stylament/css/axioms/properties/io" as *;
@use "stylament/css/axioms/generic/coloring";
// @use "stylament/css/utilities/layout/primitive/center";

body {
  @include coloring.set-colors("env");
  @include coloring.use-colors;

  & > :is(main, header, footer) {
    @include coloring.set-colors("body");
    @include coloring.use-colors;

    box-shadow: svar(shadow-page-container);
  }

  & > footer {
    border-block-start: svar(stroke-width-default) svar(stroke-style-default) svar(color-hr);

    h3 {
      font-size: svar(font-size-0);
      line-height: svar(line-0);
      color: inherit;
    }

    ul {
      list-style: none;
    }
  }
}
