@use "stylament/css/axioms/properties/io" as *;

body > nav.var-menu:first-of-type {
  ---menu-shadow: 0;
  box-shadow: -80em 0 var(---clr-fg), 80em 0 var(---clr-fg);
  background-color: svar(color-nav-contra);

  menu {
    padding-block: svar(length-0aug);
  }
  li {
    block-size: svar(length-1½);
    border-inline: svar(stroke-width-1) solid svar(color-nav-stroke);
  }
}
