@use "stylament/css/axioms/properties/io" as *;

nav.var-menu {
  menu {
    padding-block: svar(length-0aug);
    background: svar(color-nav-contra);
    margin-inline: calc(-1 * svar(stroke-width-1));
  }
  li {
    block-size: svar(length-1½);
    border-inline-start: svar(stroke-width-1) solid svar(color-nav-stroke);
  }
}
