/// ## Homepage Header

@use "stylament/css/axioms/properties/io" as *;
@use "stylament/css/axioms/generic/coloring";
@use "stylament/css/utilities/layout/primitive/center.scss";
@use "stylament/css/utilities/layout/primitive/cover";

/// Special homepage header styles.
body.scp-homepage > header {
  ---flow-space: #{svar(flow-space-sectioning)};
  @extend .lyo-cover;
  @include coloring.alternate;
  @include coloring.inverse;
  background: url("/img/header.svg") no-repeat center/cover;
  text-shadow: svar(shadow-all-in);
  padding-block: calc(2 * svar(spacing-block-lg));

  h1 {
    font-size: clamp(svar(scale-3), 10vmin, svar(scale-9));
    line-height: 1;
    // Don’t let flex-box shrink this too drastically.
    min-inline-size: 10ch;
  }

  & > * {
    ---flow-space: inherit;
    @extend .lyo-center;
    @extend %lyo-center--intrinsic;
    position: relative;

    & > * {
      ---flow-space: inherit;
      position: relative;
    }

    &::before {
      content: " ";
      position: absolute;
      inset: -2rem;
      box-shadow: svar(shadow-backdrop);
      background: svar(color-backdrop);
      border-radius: svar(radius-ellipse);
      backdrop-filter: blur(0.125rem);
    }
  }

  :is(h1, h2, h3, h4, h5, h6, p) :is(img, svg) {
    border-radius: svar(radius-obround);
    box-shadow: svar(shadow-all-in);
    background-color: svar(color-grey-100);
    padding: svar(spacing-block-xs);
    margin-block: calc(-1 * svar(spacing-block-xs));
  }
}
