/// ## Homepage Header

@use "stylament/css/utilities/layout/primitive/center.scss";
@use "stylament/css/utilities/layout/primitive/cover";

/// Special homepage header styles.
body.scp-homepage > header {
  @extend .lyo-cover;
  background: url("/img/header.svg") no-repeat center/cover;
  text-shadow: var(--shadow-xxl), var(--shadow-xl), var(--shadow-lg), var(--shadow-md), var(--shadow-sm),
    var(--shadow-xs);
  padding-block: calc(2 * var(--spacing-block-lg));

  h1 {
    font-size: clamp(var(--scale-3), 10vmin, var(--scale-9));
    line-height: 1;
  }

  & > * {
    @extend %lyo-center--intrinsic;
    position: relative;

    & > * {
      position: relative;
    }

    &::before {
      --color-backdrop: rgb(var(--color-shadow) / 0.25);
      content: ' ';
      position: absolute;
      inset: -2rem;
      box-shadow: 0 0 3rem 3rem var(--color-backdrop);
      background: var(--color-backdrop);
      border-radius: var(--radius-ellipse);
      backdrop-filter: blur(0.125rem);
    }
  }

  p :is(img, svg) {
    border-radius: var(--radius-obround);
    box-shadow: var(--shadow-xxl), var(--shadow-xl), var(--shadow-lg), var(--shadow-md), var(--shadow-sm),
    var(--shadow-xs);
    background-color: var(--color-grey-100);
    padding: var(--spacing-block-xs);
    margin-block: calc(-1 * var(--spacing-block-xs));
  }
}
