@use "stylament/css/axioms/properties/io" as *;
@use "stylament/css/utilities/layout/primitive/center";

:where(body.lyo-page-center) {
  ---container-size: #{svar(container-page)};
  ---container-gutter: 5vw;

  > :where(:not(.scp-homepage) > header, main, footer),
  > nav > menu {
    @extend .lyo-center;
  }

  .\~breakout,
  figure.\~breakout {
    margin-inline: calc(-1 * var(---container-gutter));
  }
}
