@use "stylament/css/axioms/generic/coloring";
// @use "stylament/css/utilities/layout/primitive/center";

body {
  @include coloring.set-colors("env");
  @include coloring.use-colors;

  & > :is(main, header, footer) {
    @include coloring.set-colors("body");
    @include coloring.use-colors;

    box-shadow: var(--shadow-lg);
  }

  & > footer {
    border-block-start: var(--stroke-width-default) var(--stroke-style-default) var(--color-hr);

    h3 {
      font-size: var(--scale-0);
      line-height: var(--line-0);
      color: inherit;
    }

    ul {
      list-style: none;
    }

    section + hr {
      margin-block-start: var(--flow-space-sectioning);
    }
  }
}
