<figure class="~breakout var-feature">
  <blockquote>
    <p>{{ i18n "dummy.quotation" }}</p>
  </blockquote>
  <figcaption><cite>{{ i18n "dummy.cite" }}</cite></figcaption>
</figure>

<article class="dev-lorem-ipsum lyo-wrap-flex @measure-md">
  <section id="section-one">
    <h2>{{ i18n "noun.section" | title }} 1</h2>
    <p></p>
    <p></p>
  </section>
  <section id="section-two">
    <h2>{{ i18n "noun.section" | title }} 2</h2>
    <p></p>
    <p></p>
  </section>
  <section id="section-three">
    <h2>{{ i18n "noun.section" | title }} 3</h2>
    <p></p>
    <p></p>
  </section>
  <section id="section-four">
    <h2>{{ i18n "noun.section" | title }} 4</h2>
    <div class="lyo-reset-wrap lyo-wrap-flex @measure-lg">
      <p></p>
      <p></p>
    </div>
  </section>
  <section id="section-five" class="lyo-reset-wrap lyo-wrap-flex @measure-sm">
    <h2 class="lyo-reset-wrap">{{ i18n "noun.section" | title }} 5</h2>
    <section id="subsection-five-one">
      <h3>{{ i18n "noun.subsection" | title }} 5.1</h3>
      <ul>
        <li>{{ i18n "noun.listitem" }} ipsum dolor</li>
        <li>{{ i18n "noun.listitem" }} cumque perferendis</li>
        <li>{{ i18n "noun.listitem" }} sed,</li>
        <li>{{ i18n "noun.listitem" }} sequi sunt</li>
        <li>{{ i18n "noun.listitem" }} cum animi</li>
      </ul>
    </section>
    <section id="subsection-five-two">
      <h3>{{ i18n "noun.subsection" | title }} 5.2</h3>
      <ul>
        <li>{{ i18n "noun.listitem" }} ipsum dolor</li>
        <li>{{ i18n "noun.listitem" }} adipisicing elit</li>
        <li>{{ i18n "noun.listitem" }} cumque similique</li>
        <li>{{ i18n "noun.listitem" }} dolore,</li>
        <li>{{ i18n "noun.listitem" }} quibusdam,</li>
        <li>{{ i18n "noun.listitem" }} laudantium,</li>
      </ul>
    </section>
    <section id="subsection-five-three">
      <h3>{{ i18n "noun.subsection" | title }} 5.3</h3>
      <ul>
        <li>{{ i18n "noun.listitem" }} sunt nulla</li>
        <li>{{ i18n "noun.listitem" }} voluptatum.</li>
        <li>{{ i18n "noun.listitem" }} consectetur adipisicing</li>
        <li>{{ i18n "noun.listitem" }} perferendis,</li>
        <li>{{ i18n "noun.listitem" }} laudantium,</li>
      </ul>
    </section>
    <section id="subsection-five-four">
      <h3>{{ i18n "noun.subsection" | title }} 5.4</h3>
      <ul class="var-neutral-list lyo-wrap-cluster @measure-inf">
        <li>{{ i18n "noun.listitem" }}, tempora</li>
        <li>{{ i18n "noun.listitem" }} dolorem</li>
        <li>{{ i18n "noun.listitem" }}. Voluptas</li>
        <li>{{ i18n "noun.listitem" }} dolor sit</li>
        <li>{{ i18n "noun.listitem" }} cum animi</li>
        <li>{{ i18n "noun.listitem" }} sequi sunt</li>
      </ul>
    </section>
  </section>
</article>
